/*
#9E42B5 PURPLE
#00CED1 - turquoise
font-family: 'Dosis', sans-serif; - Main Font
font-family: 'Pacifico', cursive; - Logo @font-face {
    */

body{
  background: url(../images/background.jpg);
  background-size: cover;
  background-position: center center;
}
h1 {
font-family: 'Pacifico', cursive;
font-size: 70px;
margin-left: 30px;
margin-top: 10px;
margin-bottom: 10px;
}

p {
  font-family: 'Dosis', sans-serif;
}

label {
  font-family: 'Dosis', sans-serif;
  color: white;
  font-size: 25px;
}

input {
  width: 150px;
  height: 30px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hamburger-wrapper {
  display: none;
}

nav {
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: row;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo a {
  text-decoration: none;
  color: black;
}
.main-image {
  display: flex;
  background: url(../images/french.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  min-height: 500px;
  align-items: center;
  justify-content:flex-start;
}

.articles {
  display: flex;
  width: 100%;
  height: 150px;
  justify-content: center;
}

.slogan {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  font-size: 40px;
  font-style: italic;

}

.suggest {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 250px;
  background-color: rgba(214, 211, 211, 0.7);
  padding: 30px;
  margin-left: 50px;
}

.suggest p {
  color: white;
  font-size: 30px;
  text-align: center;
}

button {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  font-size: 25px;
  font-family: 'Pacifico', cursive;
  border: 2px solid black;
  background-color: transparent;
}

.teal {
  border: 2px solid #00CED1;
  background-color: #00CED1;
  color: white;
}

.purple {
  border: 2px solid #9E42B5;
  background-color: #9E42B5;
  color: white;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 30px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

footer .logo h1 {
  font-size: 40px;
}

i {
  color: black;
  font-size: 50px;
  padding-left: 30px;
}


/*HOVER MENU http://callmenick.com/post/slide-down-menu-with-jquery-and-css*/
nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
nav ul li {
    display:inline-block;
    position:relative;
}

/* sub navigation */
nav li ul {
    position:absolute;
    left:20;
    top:40px; /* make this equal to the line-height of the links (specified below) */
    width:200px;
}
nav li li {
    position:relative;
    margin:0;
    display:block;
}
nav li li ul {
    position:absolute;
    top:0;
    left:200px; /* make this equal to the width of the sub nav above */
    margin:0;
}

ul.sub-menu {
    display:none;
}

nav{
  text-align: center;
}

nav li a{
  text-decoration: none;
  color: #9E42B5;
}

nav li {
  text-decoration: none;
  color: #9E42B5;
  border: 2px solid #9E42B5;
  border-radius: 10px;
  margin-left: 10px;
  font-size: 25px;
  min-width: 170px;
}

nav li:hover {
  background-color: #9E42B5;
  color: white;
  border: 2px solid  #9E42B5;
  border-radius: 10px;
  margin-left: 10px;
  font-size: 30px;
  min-width: 170px;
}

nav li a:hover {
  background-color: #9E42B5;
  color: white;
  border: 2px solid  #9E42B5;
  border-radius: 10px;
  margin-left: 10px;
  font-size: 30px;
  min-width: 170px;
}

.sub-menu {
  display: flex;
  flex-direction: column;
 }

.sub-menu li {
  background-color: #9E42B5;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid  #9E42B5;
  margin-left: 10px;
  font-size: 30px;
  min-width: 170px;
}

.sub-menu li a{
  background-color: #9E42B5;
  color: white;
  border: 2px solid  #9E42B5;
  margin-left: 10px;
  font-size: 30px;
  min-width: 170px;
}

  .sub-menu li a:hover {
    background-color: rgba(158, 66, 181, .8);
    color: black;
    border: 2px solid  #9E42B5;
    margin-left: 10px;
    font-size: 30px;
    min-width: 170px;
  }

 /*SUGGEST BUTTON*/
.suggest-panel h2 {
  color: white;
  font-size: 40px;
  text-align: center;
}

.suggest-panel {
  background-color: rgba(0,0,0,0.9);
  width: 40%;
  height: 500px;
  position: absolute;
  top: 150px;
  right: -50%;
  transition:all 1s;
}

.suggest-panel.open {
  right: 0;
  transition:all 1s;
  padding: 30 20 20 50;
}

.suggest-panel.close {
  left: 0;
  transition:all 1s;
}

.suggest-panel div{
  padding-bottom: 20px;
}

.submit {
  display: flex;
  justify-content: space-around;
}

/*FOOD PAGES CSS*/
.title h1{
  font-size: 50px;
  text-align: center;
}

.food-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 70px;
}

.post-wrapper {
  min-width: 600px;
  min-height: 550px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgba(158, 66, 181, 0.3);
  border-radius: 10px;
}

.post-wrapper.eaten {
  min-width: 600px;
  min-height: 550px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 206, 209, 0.7);
  border-radius: 10px;
}

.food-image.eaten {
  display: none;
}

.resturant-location.eaten {
  display: none;
}

.smashed-it h1{
  font-family: 'Dosis', sans-serif;
  font-size: 60px;
  text-align: center;
}

.smashed-it{
  display: none;
}

.smashed-it.eaten {
  display: block;
  margin-bottom: 70px;
}

.food-image {
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: space-around;
}

 .food-image img {
  width: 400px;
  height: auto;

}

h2{
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.resturant-name {
    text-align: center;
}

.resturant-location {
  margin-left: 30px;
}

button .post-wrapper{
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Pacifico', cursive;
  border: 2px solid black;
  background-color: transparent;
}

.button-done {
  display: flex;
  justify-content: center;
}
